* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    padding: 10px 10px;
    width: 50%;
    /* border: 2px solid white; */
    border-radius: 50px;

}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    /* cursor: pointer; */
    background-color: black;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.nav-list li{
    list-style: none;
    padding: 25px 30px;
}
.nav-list li a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightNav {
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

.background {
    background: rgba(0,0,0,0.7) url("../images/bg.jpg");
    background-size:cover;
    background-blend-mode: darken;
}

.box-main{
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstSection {
    height: 100vh;
}

.firstHalf{
    width: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
}

.secondHalf img {
    width: 90%;
    border: 1px solid white;
    display: block;
    margin: 20px;
    border-radius: 150px;
}

.text-big {
    font-size: 25px;

}

.text-small {
    font-size: 16px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 3px solid black;
    border-radius: 10px;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    color: black;
    background-color: white;
}

.btn-sm{
    padding: 6px 10px;
    font-size: 16px;
    vertical-align: middle;
}

.btn-dark {
    color: black;
    border-color: grey;
    text-align:center;
    
}

.section {
    /* height: 350px; */
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.section-left {
    flex-direction: row-reverse; 
}

.paras{
    padding: 0 20px;
    margin: 40px 0;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 20px;
}

.contact {
    background-color: #f1f1f1;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-heading {
    text-align: center;
    padding: 15px 0;
}

.contact-form {
    margin: auto;
    max-width: 65%;
    margin: 20px auto;
}

.form-input {
    width: 100%;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 7px;
    margin: 15px 0;
    padding: 5px 5px;
}

.text-footer {
    text-align: center;
    color: white;
    padding: 25px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}
.line {
    width: 33px;
    background-color: white;
    margin: 5px 5px;
    height: 4px;
}
@media only screen and (max-width: 1120px) {
    .nav-list {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        height: 440px;
        transition: all 0.8s ease-in-out;
    }
    .rightNav {
        text-align:center;
    }
    #search {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .h-nav {
        height: 60px;
    }
    .v-class {
        opacity: 0;  
        /* OR visibility: hidden; */
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firstHalf {
        width: 90%;
    }

    .section {
        flex-direction: column-reverse;
    }
}
